/* I should have comments to organize these, but I'm not sure what makes most sense.  */
/* Based on the rubric, I should have more examples of using a styling rule block to multiple elements */


* {
  font-family: "Marker Felt", fantasy;
  margin: 0;
  padding: 0;
}

body {
  height: 737px;
  display: flex;
}

h1 {
  cursor: pointer;
  font-size: 70px;
  padding-top: 30px;
}

h2 {
  font-size: 40px;
  padding: 50px;
}

h3 {
  padding-bottom: 15px;
  font-size: 25px;
}

p {
  font-size: 18px;
}

aside {
  background-color: #518BA1;
  padding-top: 100px;
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.game-area {
  background-color: #9EB9C3;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-view {
  height: 722px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-view{
  padding-top: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.classic-option,
.difficult-option {
  background-color: #337188;
  border: solid black 2px;
  cursor: pointer;
  height: 150px;
  padding: 30px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img {
  height: 130px;
  width: 130px;
}

.game-icons {
  cursor: pointer;
}

button {
  background-color: #337188;
  border: solid black 2px;
  cursor: pointer;
  margin-top: 100px;
  padding: 10px;
}

button:hover,
.classic-option:hover,
.difficult-option:hover,
.game-icons:hover {
  background-color: #A0A7AD;
}

.hidden {
  display: none;
}

.spin {
  transition-duration: 1s;
  transform: rotate(360deg);
}
