* {
  padding: 0;
  margin: 0;
  font-family: "Marker Felt", fantasy;
  /* border: solid blue 2px; */
}

body {
  display: flex;
  height: 737px;
}

h1 {
  padding-top: 30px;
  font-size: 70px;
}

h2 {
  padding: 50px;
  font-size: 40px;
}

p {
  font-size: 14px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  background-color: #518BA1;
  width: 15%;
}

.game-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9EB9C3;
}

.home-view {
  width: 80%;
  height: 722px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game-view{
  padding-top: 100px;
}


.classic-option,
.difficult-option {
  width: 200px;
  height: 150px;
  background-color: #337188;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

img {
  width: 100px;
  height: 100px;
}
