* {
  padding: 0;
  margin: 0;
  font-family: "Marker Felt", fantasy;
}

body {
  display: flex;
  height: 722px;
}

h1 {
  font-size: 80px;
}

h3 {
  padding-bottom: 5px;
}

p {
  font-size: 14px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  background-color: #518BA1;
  width: 15%;
}

.game-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #9EB9C3;
}

.classic,
.difficult {
  width: 15%;
  background-color: #337188;
  padding: 20px;
  text-align: center;
}
